.menu {
    background-color: violet;
}

.menu li{
    display: inline-block;
    font-size: 30px;
}
.menu a{
    display: block ;
    width: 110px ;
    padding: 5px 0 ; /* Ajout de marges internes */
    text-align: center ; /* Centrage du texte à l'intérieur des boutons */
    transform:scale(2.3);
    text-decoration: none ; /* Suppression du soulignement des liens */
    margin: 10px ; /* Espacements des boutons */
    border-radius: 5px; /* Ajout d'arrondis pour les boutons */
}
.titre{
    text-align: center;
   font-size: 30px;

}
.bars{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}