html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
button,
input,
select,
textarea {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
img,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
td:not([align]),
th:not([align]) {
    text-align: left;
}

@font-face {
    font-family: "acmeregular";
    src: url("police/Acme-Regular-webfont.eot");
    src: url("police/Acme-Regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("police/Acme-Regular-webfont.woff2") format("woff2"), url("police/Acme-Regular-webfont.woff") format("woff"),
        url("police/Acme-Regular-webfont.ttf") format("truetype"),
        url("police/Acme-Regular-webfont.svg#acmeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*Général*/
html {
    font-size: 1vh; /*définition du rem */
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        112deg,
        rgba(155, 4, 160, 0.767) 0%,
        rgba(253, 29, 234, 0.507) 50%,
        rgba(250, 87, 228, 0.411) 100%
    );
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
}
a {
    text-decoration: none; /* Suppression du soulignement des liens */
}
a:visited {
    color: rgb(223, 223, 223);
}

/*Barre de navigation*/
header {
    flex: 0.5;
    top: 0;
}
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
}
.menu ul {
    display: flex;
    justify-content: space-around; /*Espacement des boutons*/
    width: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 5%;
    color: rgb(223, 223, 223);
}
.menu li {
    display: inline-block;
    font-size: 6rem; /*Définition de la taille des boutons*/
    width: 10%; /*Définition de la taille des boutons*/
}

#search {
    align-self: center;
}
.titre {
    text-align: center;
    font-size: 8rem;
    font-family: "acmeregular", sans-serif;
    color: azure;
    width: 100%;
}
.profil{
    text-align: end;
    font-size: 6rem;
    align-self: center;
    color: rgb(223, 223, 223);
    position: absolute;
    right: 5%;
}
input {
    border-radius: 10px; /* Ajout d'arrondis pour les boutons */
    margin-bottom: 1%;
    text-indent: 5%;
}

/*Section principale*/
.news {
    flex: 2;
    display: flex;
    justify-content: space-around;
    padding: 2.5%;
}
.encart {
    height: 90%;
    border: solid rgba(252, 69, 209, 0.589) 0.5vh;
    border-radius: 30px;
    padding: 1%;
    background-color: rgba(202, 155, 198, 0.822);
    font-size: 2rem;
    color: rgb(224, 225, 230);
    text-align: center;
    background: url("images/owl.png") center no-repeat;
    background-size: 30%;
    background-color: rgba(202, 155, 198, 0.459);
    text-shadow: 1px 1px 1px black;
}
.encart h1 {
    text-align: center;
    padding-bottom: 1%;
    font-size:3rem;
}
.discussion {
    width: 40%;
}
.newsletter {
    flex: 0.5;
}

/*Pied de page*/
footer {
    bottom: 0;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    flex: 0.25;
}
footer ol{
    display:flex;
    list-style-type: none;
}
footer ol li{
    width:25%;
    color:rgb(223, 223, 223);
    text-align: center;
}
#logo{
    width:30%;
    margin-top: -10%;
}
#power{
    display: flex;
    flex-direction: column;
    align-items: center;
}