#selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    .artiste {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        .portrait {
            color: white;
            display: flex;
            align-items: center;
            button{
                font-size: 8rem;
                margin-left: 20%;
                text-decoration: none;
                color: white;
                cursor: pointer;
                background: none;
                border: none;
                font-family: "acmeregular", sans-serif;;
            }
            button:hover{
                color: rgb(73, 5, 73);
            }
        }
        .caroussel{
            align-self: center;
            width:40%;
            height: 40vh;
            background: rgb(71,4,68);
            background: linear-gradient(112deg, rgba(71, 4, 68, 0.678) 16%, rgba(174, 58, 180, 0.685) 53%, rgba(253, 29, 234, 0.39) 80%, rgba(252, 69, 209, 0.404) 94%);
            display:none;
        }
        .show{
            display:block;
        }
    }
}
